<a href="https://colab.research.google.com/github/S-Ngigi/ML/blob/master/Student_Profile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student profile analysis

## Loading up google drive and file manipulation libraries

In [0]:
#!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pprint
import pydrive.files as files

import pandas as pd
import numpy as np

In [0]:
auth.authenticate_user()
ga = GoogleAuth()
ga.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(ga)

## Feedback Section

### File sorting feedback 


> Do not need to be run again

In [0]:
#Getting the feedback folder id
feedback_id = '1sQlnMrjq5CDaflokbCla25HtXpPzeCby'
# List file in directory
file_list2 = drive.ListFile({'q': f"'{feedback_id}' in parents and trashed=false"}).GetList()
count = 0
feedback_dict = {}
single_count = 0

for folder in file_list2:
  count += 1
  folderName = folder['title']
  folderId = folder['id']
  num_files = 0
  # print(f"folder_name: {folderName}\nfolder_id:{folderId}")
  file_list3 = drive.ListFile({'q': f"'{folderId}' in parents and trashed=false"}).GetList()
  for sub_folder in file_list3:
    num_files += 1
  if num_files == 1:
    feedback_dict[folderName] = {}
    feedback_dict[folderName]['folder_id'] = folderId
    feedback_dict[folderName]['file_title'] = sub_folder['title']
    feedback_dict[folderName]['file_id'] = sub_folder['id']
    single_count +=1

    
  print(folderName +" has " +str(num_files)+" files")
  

print("Number of folders in the parent folder ="+str(count))

feedback_1 has 22 files
MC12 has 3 files
MC1 has 20 files
MPFT11 has 7 files
MPFT2 has 5 files
MPFT3 has 5 files
MPFT1 has 5 files
MPFT4 has 2 files
prep has 21 files
core has 63 files
cohort has 21 files
Number of folders in the parent folder =11

In [0]:
pprint.pprint(feedback_dict)

{'MC10': {'file_id': '1DdPKrxLlOxEdQhATvRQ0vvw4TKa0UFvM',
          'file_title': 'MC10 Feedback (Responses).xlsx',
          'folder_id': '1obDMl5GDxNSKARYN6HfxeJmx43m0YxQL'},
 'MC11': {'file_id': '1121-lNJTQYS0taMBK7ZS5wMeFWMiqRDN',
          'file_title': 'MC11 Feedback (Responses).xlsx',
          'folder_id': '1jeZ-ixRbV6_sNom4Y95Fh5vWhgyIw_Zr'},
 'MC2': {'file_id': '1j7OzXGsemj-gMjLFGOZ6FJtOPO5G_ulM',
         'file_title': 'MC2 W1 - W19 Feedback (Responses).xlsx',
         'folder_id': '1vhydhAd0paVJtIeR2gCxUTvfSR4t7pmE'},
 'MC3': {'file_id': '1r0u_tnQY5J7aPWm8Xp0albexEZQD9ON8',
         'file_title': 'MC3 W1-W19 Feedback (Responses).xlsx',
         'folder_id': '1Cp61E-XLIJGu7NEeQO9B163w5MKNox64'},
 'MC4': {'file_id': '1C7eyzLnGjk1Q5XWcZi6ipuVncsXN6tnm',
         'file_title': 'MC4 W1-W19 Feedback (Responses).xlsx',
         'folder_id': '19aLZ4HKhE-vWhAZJpkoFAsDUBtc6zVj4'},
 'MC5': {'file_id': '1fEpK4nkA184E7rdqPfNM7abPC1s7-pz3',
         'file_title': 'MC5 W1-W19 Feedback (Responses).xlsx',
         'folder_id': '1aa5MulJHQlaOLitzGZ3X2fQV_-vsjhUf'},
 'MC6': {'file_id': '1igIHxXwo5buS5forUurpSVBtvENpAkp3',
         'file_title': 'MC6 Feedback (Responses).xlsx',
         'folder_id': '1wQ9FiN5jJ1smhAc4emQaA08zsPjENx_6'},
 'MC7': {'file_id': '1kYLGw3b67woLLkBFNam0w9JtiKXmAA-A',
         'file_title': 'MC7 W1-W15 Feedback Responses.xlsx',
         'folder_id': '1TtrHpMsH4-wN0m-cdfs-LmkRR5Xn07Zv'},
 'MC8': {'file_id': '1FfEWU9-j3E8NK7YIR_Gu8ZLZGkiZf6hM',
         'file_title': 'MC8  Feedback (Responses).xlsx',
         'folder_id': '1ExhYRTfB7OIYS6obWxE9NYfRmUYqRh1n'},
 'MC9 - JS': {'file_id': '135MWkOHIS1_UtqP1ecJEw7Ug-wGFbCBK',
              'file_title': 'MC9-JS Feedback (Responses).xlsx',
              'folder_id': '1gFeqUx9kj4sDFiZHqy_mrAIRVxEEMCRR'},
 'MC9 - Java': {'file_id': '1P1phNdEK0P5MSVb-UTMPja07Nf8xTXgG',
                'file_title': 'MC9-Java (Responses).xlsx',
                'folder_id': '1YWbyR_RwQq6661tYfZT9abPEb5Vp4K5m'},
 'MC9 - Python': {'file_id': '1MH1yrEvtTdHrkbcgInstC4-E7s1upfA7',
                  'file_title': 'MC9-Python Feedback (Responses).xlsx',
                  'folder_id': '1ZW7RniQMeYwk2ItWztLOXZErBPVWLhO8'},
 'MPFT10': {'file_id': '1bxMR5GL1lcwTMjBK_Gbr51AjKlGUoWZr',
            'file_title': 'MPFT10 W1-W5 Feedback (Responses).xlsx',
            'folder_id': '1BUZiyGwc9090zRpT9gHfOCnG4qPSOm6Y'},
 'MPFT12': {'file_id': '1tnwlP17nvFwjOeWZtciMsS853I2FB1yc',
            'file_title': 'MPFT12 W1-W5 Feedback (Responses).xlsx',
            'folder_id': '18y0Pau62FivJVAZQUVia0XmQzw8Uy6vG'},
 'MPFT13': {'file_id': '1dNONOznDfE4pO_xkRWU1hPGR5562_W-E',
            'file_title': 'MPFT13 W1 - W5 Feedback (Responses).xlsx',
            'folder_id': '1j8RWq4tG6G7l22cpA3Dh0gfGPmMane-x'},
 'MPFT14': {'file_id': '1oaUXpGHnMk1Jue1GokIwif4j6w7OYye9',
            'file_title': 'MPFT14 Feedback (Responses).xlsx',
            'folder_id': '1zBWAZIacuJP2gQ4AQitW6PAfBgokOLST'},
 'MPFT5': {'file_id': '1dshzPhR_MvrJlt9zUheJ-NBeW52MyjMF',
           'file_title': 'MPFT5 W1-W5 Feedback (Responses).xlsx',
           'folder_id': '1lp-uaws8Ue-mXoP11coU4976lx7TUvCI'},
 'MPFT6': {'file_id': '1UHMovki5oyxXUG7cfExWl8rKkAsj1hjo',
           'file_title': 'MPFT6 WK1-5 Feedback (Responses).xlsx',
           'folder_id': '1Eg3DDPEpQmYUa5JeGnROrGHQkxSF0gTb'},
 'MPFT7': {'file_id': '1o8S6aC29qLN7ORpJ8A2w90CPsyb5ZAek',
           'file_title': 'MPFT7 WK1-4 Feedback (Responses).xlsx',
           'folder_id': '1YpCF9VOea35zXd4xQxEe5FIhciUY6FH7'},
 'MPFT8-Alpha': {'file_id': '168FOkrDDcDsOjGQDfFXEuV4kB8ESdStQ',
                 'file_title': 'MPFT8 Alpha W1-5 Feedback (Responses).xlsx',
                 'folder_id': '1V1SRZsPLJ5QSV5dcc_0b-RkPfpfpgHs4'},
 'MPFT8-Loki': {'file_id': '1TlBQ19pT31Cg8sMwAtUG4-v-CCsc2O6m',
                'file_title': 'MPFT8 W1-W5 Feedback (Responses).xlsx',
                'folder_id': '11buxoX5z8vozjC0HNFNPYWmbYK4XXJPr'},
 'MPFT9': {'file_id': '1RflEJW76E_yCJ3cU6tcCnhB_S2F4Dr1O',
           'file_title': 'MPFT9 W1-5 Feedback (Responses).xlsx',
           'folder_id': '1HUH5XVD8SCv2LWTPKm2CmvYZKqVyhYAc'}}

In [0]:
files = drive.auth.service.files()
destination_id='12-2SyMa4VBoIcBZKG2cVqNSQpuQ1EkXD'
#function to move file
def move_file(destination_id=destination_id, file_id=None, origin_id=None):
  moved_file = files.update(fileId=file_id, 
                            addParents=destination_id,
                            removeParents=origin_id,
                            fields='id, parents').execute()

In [0]:
# for key in feedback_dict:
#   move_file(file_id=feedback_dict[key]['file_id'])

In [0]:
for key in feedback_dict:
  print(key)
  # for ikey in feedback_dict[key]:
  #   if ikey=='folder_id':
  #     print(ikey)
  #     print(feedback_dict[key][ikey])
  #   elif ikey == 'file_id':
  #     print(ikey)
  #     print(feedback_dict[key][ikey])
  #   else:
  #     pass

MC5
MC9 - Java
MC3
MC4
MC11
MC2
MC9 - JS
MC8
MC6
MC7
MC9 - Python
MC10
MPFT13
MPFT8-Alpha
MPFT14
MPFT9
MPFT7
MPFT6
MPFT12
MPFT10
MPFT8-Loki
MPFT5

In [0]:
# def delete_file(folder_id):
#   # Create GoogleDriveFile instance and upload it.
#   folder_id = folder_id
#   file1 = drive.CreateFile({'id': folder_id})

#   file1.Trash()  # Move file to trash.  

# for key in feedback_dict:
#   delete_file(folder_id=feedback_dict[key]['folder_id'])

In [0]:
# fileID = "1d5iE2DaLM4_strVNVGkIbls2k-KuDrW_OKoeTTDZyZU" 
# file2 = drive.CreateFile({'id': fileID})
# file2.Trash()  # Move file to trash.
# file2.UnTrash()  # Move file out of trash.

# fileId = "1TL6fE87_RySX2pk2Rhsi_aiBkoLqtUZSVlrtJh6MeW4"
# mc10 = "1DdPKrxLlOxEdQhATvRQ0vvw4TKa0UFvM"
# out_folder = "18X-08FsDF3MRZhfFW5BfONJ_s-8vQ85E"
# mc10File = drive.CreateFile({'id':mc10})

# files = drive.auth.service.files()
# mc10File  = files.get(fileId= mc10, fields= 'parents').execute()

# mc10File  = files.update( fileId = mc10,
#                       addParents = out_folder,
#                       fields = 'id, parents',
#                       ).execute()

# test = {}
# test["one"] = {}
# test["one"]["_one"] = "Test1"
# test["one"]["_two"] = "Test2"
# test

In [0]:
print(len(feedback_dict)==single_count)

count=0
file_list = drive.ListFile({'q': f"'{destination_id}' in parents and trashed=false"}).GetList()
for file in file_list:
  count += 1
count

22

## Loading up the different files

## Outcome Section

### Loadin the outcomes data

We read from the outcomes folder in drive using the folder Id and file ID

In [40]:
spread_url = 'https://docs.google.com/spreadsheets/d/'
folder_id = '18X-08FsDF3MRZhfFW5BfONJ_s-8vQ85E' 
# List file in directory
file_list = drive.ListFile({'q': f"'{folder_id}' in parents and trashed=false"}).GetList()

for file in file_list:
  fileName = file['title']
  fileId = file['id']
  print(f"file_name: {fileName}\nfile_id:{fileId}")

file_name: M.S Graduates Tracker
file_id:1TL6fE87_RySX2pk2Rhsi_aiBkoLqtUZSVlrtJh6MeW4

In [0]:
# Gspread call
gsp = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
outcome_wb = gsp.open_by_url(f'{spread_url}{fileId}')

In [43]:
outcomes_worksheets = outcome_wb.worksheets()
del outcomes_worksheets[2] 
outcomes_worksheets =outcomes_worksheets[:-8]
grad_ke = len(outcomes_worksheets)
print(grad_ke)
outcomes_worksheets

27

[<Worksheet 'Cohort 1' id:250853569>,
 <Worksheet 'Cohort 2' id:939695604>,
 <Worksheet 'Cohort 3' id:773501914>,
 <Worksheet 'Cohort 4' id:39552532>,
 <Worksheet 'Cohort 5' id:345585666>,
 <Worksheet 'Cohort 6' id:73338368>,
 <Worksheet 'Cohort 7' id:1938771017>,
 <Worksheet 'MC    1' id:1436363104>,
 <Worksheet 'MC   2' id:715037735>,
 <Worksheet 'MC   3' id:454636541>,
 <Worksheet 'MC   4' id:1598010224>,
 <Worksheet 'MC   5' id:1584875653>,
 <Worksheet 'MC   6' id:1571554605>,
 <Worksheet 'MC   7' id:2109064685>,
 <Worksheet 'MC   8' id:607425769>,
 <Worksheet 'MC   9' id:577588626>,
 <Worksheet 'MC1   0' id:1738786071>,
 <Worksheet 'MC   1   1' id:1971269453>,
 <Worksheet 'MC1   2' id:551698329>,
 <Worksheet 'MC1   3' id:1613907553>,
 <Worksheet 'MC1   4' id:1578318890>,
 <Worksheet 'MC15-1   6' id:897475976>,
 <Worksheet 'MC1   7' id:1032484390>,
 <Worksheet 'MC1   8' id:1692531341>,
 <Worksheet 'MC1   9' id:1913998371>,
 <Worksheet 'MC2   0' id:1278098024>,
 <Worksheet 'DSC   1' id:2778754>]

**Note** This cell below does not need to be run again. 

Its main task was to rename the google workbook sheet names, that has already taken effect.

In [0]:
# ttl = lambda x : x.title()
# outcomes_test = [ for i in outcomes_worksheets if re.match('^M|^D', i.title)]
# outcomes_test
# import re
# for i in outcomes_worksheets:
#   if re.match('^M|^D', i.title):
#     i.update_title(i.title.replace(i.title[-1], f" {i.title[-1]}"))
# outcomes_worksheets

In [0]:
# G Spread to DataFrame
data =  outcome_wb.get_worksheet(0).get_all_values()
df_test = pd.DataFrame(data)
df_test.columns  = df_test.iloc[0]
df_test = df_test.iloc[1:]
df_test.head()

0 First Name Last Name  ... Graduation Date 30th Comments Post-Call
1   Wilhelm   Uschtrin  ...
2     Diana    Wanjuhi  ...                              Not picked
3     Keval       Shah  ...
4    Dhruti       Shah  ...
5                       ...

[5 rows x 21 columns]

In [0]:
def get_ret_outcomes_df(sheet):
  data =  sheet.get_all_values()
  df_test = pd.DataFrame(data)
  df_test.columns  = df_test.iloc[0]
  df_test = df_test.iloc[1:]
  return df_test

# ds_ = get_ret_outcomes_df(outcomes_worksheets[26])
# ds_.head()

In [0]:
outcomes_dfs = {i.title: get_ret_outcomes_df(i) for i in outcomes_worksheets}
outcomes_dfs = {k.replace(' ', '').lower():v for k,v in outcomes_dfs.items()}
# [*outcomes_dfs.keys()]

### Cleaning Data

After the above cell, our outcomes work sheets are in the outcomes_dfs dict which we shall use to clean & transform the individual sheets before combining all sheets into a single dataframe

In [58]:
# Checking initial shape
for k, v in outcomes_dfs.items():
  print(k, ': ', v.shape)

cohort1 :  (53, 21)
cohort2 :  (58, 20)
cohort3 :  (59, 20)
cohort4 :  (65, 18)
cohort5 :  (59, 19)
cohort6 :  (66, 19)
cohort7 :  (74, 19)
mc1 :  (967, 29)
mc2 :  (958, 27)
mc3 :  (965, 29)
mc4 :  (25, 31)
mc5 :  (19, 30)
mc6 :  (14, 29)
mc7 :  (19, 31)
mc8 :  (37, 30)
mc9 :  (25, 27)
mc10 :  (33, 33)
mc11 :  (53, 37)
mc12 :  (40, 42)
mc13 :  (31, 38)
mc14 :  (43, 47)
mc15-16 :  (64, 51)
mc17 :  (43, 58)
mc18 :  (46, 58)
mc19 :  (24, 58)
mc20 :  (45, 58)
dsc1 :  (27, 58)

In [59]:
for k, v in outcomes_dfs.items():
  # Create new column with the class name i.e cohort 1, cohort 2, cohort 3
  v['Class'] = k
  # Get the index of the first occurence of null in First Name
  df_boundary = (v['First Name'].values == '').argmax()
  # Return all rows before instance of null
  outcomes_dfs[k] = v[v.index <= df_boundary]
  # Print data & new shape
  print(f'{k} shape: {outcomes_dfs[k].shape}')

cohort1 shape: (4, 22)
cohort2 shape: (11, 21)
cohort3 shape: (11, 21)
cohort4 shape: (16, 19)
cohort5 shape: (10, 20)
cohort6 shape: (20, 20)
cohort7 shape: (26, 20)
mc1 shape: (24, 30)
mc2 shape: (11, 28)
mc3 shape: (18, 30)
mc4 shape: (17, 32)
mc5 shape: (11, 31)
mc6 shape: (6, 30)
mc7 shape: (11, 32)
mc8 shape: (28, 31)
mc9 shape: (17, 28)
mc10 shape: (24, 34)
mc11 shape: (44, 38)
mc12 shape: (21, 43)
mc13 shape: (22, 39)
mc14 shape: (34, 48)
mc15-16 shape: (56, 52)
mc17 shape: (35, 59)
mc18 shape: (38, 59)
mc19 shape: (16, 59)
mc20 shape: (37, 59)
dsc1 shape: (19, 59)

In [0]:
outcomes_dfs['cohort1'].tail()

0 First Name Last Name  ... 30th Comments Post-Call    Class
1   Wilhelm   Uschtrin  ...                          cohort1
2     Diana    Wanjuhi  ...              Not picked  cohort1
3     Keval       Shah  ...                          cohort1
4    Dhruti       Shah  ...                          cohort1

[4 rows x 22 columns]

In [0]:
outcomes_dfs['cohort1'].columns.values.tolist()

['First Name',
 'Last Name',
 'Email',
 'Phone Numbers',
 'DOB',
 'Age',
 'Educational Background',
 'Gender',
 'Developer Profile (Android or Full Stack)',
 'Dates of 1st Offer',
 'Period to First Offer (days)',
 'Company after MS',
 'Job Title',
 'Full-time/Internship',
 'Had a job before MS? (Yes or No)',
 'Salary Before MS (Ksh)',
 'Current Company',
 'Salary After MS (Ksh)',
 'Second Salary After MS (Ksh)',
 'Graduation Date',
 '30th Comments Post-Call',
 'Class']

In [0]:
outcomes_dfs['cohort1'].columns.values.tolist()[:10]

['First Name',
 'Last Name',
 'Email',
 'Phone Numbers',
 'DOB',
 'Age',
 'Educational Background',
 'Gender',
 'Developer Profile (Android or Full Stack)',
 'Dates of 1st Offer']

In [0]:
outcomes_dfs['cohort1']['Class']

1    cohort1
2    cohort1
3    cohort1
4    cohort1
Name: Class, dtype: object

Next task is to standadize the columns by deciding which columns we will keep for all cohorts and naming them accordingly

Then after we shall combine al the data frames together.

We will create a list of all the column names and then compare for similar columns then correct differently names but similar columsn

In [48]:
out_colNames = {}

for k, v in outcomes_dfs.items():
  print(k, ' columns:', v.columns.values[:19])
  print('*'*20)

cohort1  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Current Company' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)']
********************
cohort2  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Comments Post-Call']
********************
cohort3  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Comments Post-Call']
********************
cohort4  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Class']
********************
cohort5  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Comments Post-Call']
********************
cohort6  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Comments Post-Call']
********************
cohort7  columns: ['First Name' 'Last Name' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Full-time/Internship' 'Had a job before MS? (Yes or No)'
 'Salary Before MS (Ksh)' 'Salary After MS (Ksh)'
 'Second Salary After MS (Ksh)' 'Comments Post-Call']
********************
mc1  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc2  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc3  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc4  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc5  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc6  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Current Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc7  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc8  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc9  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc10  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Employment Status (Within 6 Months)'
 'Email' 'Phone Numbers' 'DOB' 'Age' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title'
 'Job Status' 'Had a job before MS? (Yes or No)']
********************
mc11  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Type of Student'
 'Employment Status (Within 6 Months)' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS'
 'Comments post-call for 20th July' 'Job Title']
********************
mc12  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Type of Student'
 'Employment Status (Within 6 Months)' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of Offer'
 'Period to Offer (days)' 'Company after MS' 'Job Title' 'Job Type']
********************
mc13  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Type of Student'
 'Employment Status (Within 6 Months)' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Dates of 1st Offer'
 'Period to First Offer (days)' 'Company after MS' 'Job Title' 'Job Type']
********************
mc14  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Type of Student'
 'Employment Status (Within 6 Months)' 'Email' 'Phone Numbers' 'DOB' 'Age'
 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Date of Offer'
 'Accepted Offer?' 'Other offer date (if any) '
 'Accepted Offer? (if applicable)' 'Period to Accepted Offer (days)']
********************
mc15-16  columns: ['First Name' 'Last Name' 'Looking for a job?' 'If No, What?'
 'If Other Reasons, Indicate' 'Type of Student'
 'Employment Status (Within 6 Months)' 'Email' 'Phone Numbers' 'DOB'
 'Age (DO NOT EDIT)' 'Educational Background' 'Gender'
 'Developer Profile (Android or Full Stack)' 'Date of Offer'
 'Accepted Offer?' 'Other offer date (if any) ' 'Accepted Offer? (if any)'
 'Official Start Date']
********************
mc17  columns: ['First Name' 'Last Name' 'Email'
 'Phone Number (s) (including country code)' 'Date of Birth'
 'Age (DO NOT EDIT)' 'Highest Education Background Completed' 'Gender'
 'Graduate Profile' 'Type of Student'
 'Eligible to Work in Training Location?' 'Link to CV'
 'Intent and Classification' 'If Not Job-Seeking Graduate, What?'
 'Any comment, Indicate' 'Date of Offer' 'Was the Offer accepted?'
 'Was there a Documentation of accepted offer?'
 'Type of Accepted Offer Documentation']
********************
mc18  columns: ['First Name' 'Last Name' 'Email'
 'Phone Number (s) (including country code)' 'Date of Birth' 'Age'
 'Highest Education Background Completed' 'Gender' 'Graduate Profile'
 'Type of Student' 'Eligible to Work in Training Location?' 'Link to CV'
 'Intent and Classification' 'If Not Job-Seeking Graduate, What?'
 'If Other Ventures, Indicate' 'Date of Offer' 'Was the Offer accepted?'
 'Was there a Documentation of accepted offer?'
 'Type of Accepted Offer Documentation']
********************
mc19  columns: ['First Name' 'Last Name' 'Email'
 'Phone Number (s) (including country code)' 'Date of Birth'
 'Age (DO NOT EDIT)' 'Highest Education Background Completed' 'Gender'
 'Graduate Profile' 'Graduate Category'
 'Eligible to Work in Training Location?' 'Link to CV'
 'Intent and Classification' 'If Not Job-Seeking Graduate, What?'
 'Any comment, Indicate' 'Date of Offer' 'Was the Offer accepted?'
 'Was there a Documentation of accepted offer?'
 'Type of Accepted Offer Documentation']
********************
mc20  columns: ['First Name' 'Last Name' 'Email'
 'Phone Number (s) (including country code)' 'Date of Birth'
 'Age (DO NOT EDIT)' 'Highest Education Background Completed' 'Gender'
 'Graduate Profile' 'Graduate Category'
 'Eligible to Work in Training Location?' 'Link to CV'
 'Intent and Classification' 'If Not Job-Seeking Graduate, What?'
 'Any comment, Indicate' 'Date of Offer' 'Was the Offer accepted?'
 'Was there a Documentation of accepted offer?'
 'Type of Accepted Offer Documentation']
********************
dsc1  columns: ['First Name' 'Last Name' 'Email'
 'Phone Number (s) (including country code)' 'Date of Birth'
 'Age (DO NOT EDIT)' 'Highest Education Background Completed' 'Gender'
 'Graduate Profile' 'Graduate Category'
 'Eligible to Work in Training Location?' 'Link to CV'
 'Intent and Classification' 'If Not Job-Seeking Graduate, What?'
 'Any comments, Indicate' 'Date of Offer' 'Was the Offer accepted?'
 'Was there a Documentation of accepted offer?'
 'Type of Accepted Offer Documentation']
********************

In [0]:
outcomes_dfs['cohort1'].columns.values.tolist()

['First Name',
 'Last Name',
 'Email',
 'Phone Numbers',
 'DOB',
 'Age',
 'Educational Background',
 'Gender',
 'Developer Profile (Android or Full Stack)',
 'Dates of 1st Offer',
 'Period to First Offer (days)',
 'Company after MS',
 'Job Title',
 'Full-time/Internship',
 'Had a job before MS? (Yes or No)',
 'Salary Before MS (Ksh)',
 'Current Company',
 'Salary After MS (Ksh)',
 'Second Salary After MS (Ksh)',
 'Graduation Date',
 '30th Comments Post-Call',
 'Class']

In [0]:
must_cols = ['First Name',
 'Last Name',
 'Email',
 'Class',
 'Phone Numbers',
 'DOB',
 'Age',
 'Educational Background',
 'Gender',
 'Developer Profile (Android or Full Stack)',
 'Had a job before MS? (Yes or No)',
]

In [60]:
off_cols = ['Highest Education Background Completed', 'Date of Birth', 'Phone Number (s) (including country code)', 'Age (DO NOT EDIT)', 'Had a job before Moringa?', 'Graduate Profile']
def list_contains(List1, List2): 
  
    set1 = set(List1) 
    set2 = set(List2) 
    if set1.intersection(set2): 
        return True 
    else: 
        return False

for k, v in outcomes_dfs.items():
  if  list_contains(off_cols, v.columns.values.tolist()):
    v.rename(columns={off_cols[0]: 'Educational Background', off_cols[1]: 'DOB', off_cols[2]: 'Phone Numbers', off_cols[3]: 'Age', off_cols[4]: 'Had a job before MS? (Yes or No)', off_cols[5]: 'Developer Profile (Android or Full Stack)'}, inplace=True)
  outcomes_dfs[k] = v[must_cols]
  print(k, ' new shape:', outcomes_dfs[k].shape)
  print('*'*20)

cohort1  new shape: (4, 11)
********************
cohort2  new shape: (11, 11)
********************
cohort3  new shape: (11, 11)
********************
cohort4  new shape: (16, 11)
********************
cohort5  new shape: (10, 11)
********************
cohort6  new shape: (20, 11)
********************
cohort7  new shape: (26, 11)
********************
mc1  new shape: (24, 11)
********************
mc2  new shape: (11, 11)
********************
mc3  new shape: (18, 11)
********************
mc4  new shape: (17, 11)
********************
mc5  new shape: (11, 11)
********************
mc6  new shape: (6, 11)
********************
mc7  new shape: (11, 11)
********************
mc8  new shape: (28, 11)
********************
mc9  new shape: (17, 11)
********************
mc10  new shape: (24, 11)
********************
mc11  new shape: (44, 11)
********************
mc12  new shape: (21, 11)
********************
mc13  new shape: (22, 11)
********************
mc14  new shape: (34, 11)
********************
mc15-16  new shape: (56, 11)
********************
mc17  new shape: (35, 11)
********************
mc18  new shape: (38, 11)
********************
mc19  new shape: (16, 11)
********************
mc20  new shape: (37, 11)
********************
dsc1  new shape: (19, 11)
********************

In [62]:
for k, v in outcomes_dfs.items():
  print(k ,"Had job before MS:")
  print(v['Had a job before MS? (Yes or No)'].value_counts(dropna=False))
  print("*"*20)

cohort1 Had job before MS:
Yes    4
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort2 Had job before MS:
       9
No     1
Yes    1
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort3 Had job before MS:
No     10
Yes     1
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort4 Had job before MS:
Yes    13
No      3
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort5 Had job before MS:
Yes    8
No     2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort6 Had job before MS:
Yes    18
        2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
cohort7 Had job before MS:
No     14
        7
Yes     5
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc1 Had job before MS:
No     10
        8
Yes     6
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc2 Had job before MS:
No     5
Yes    4
       2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc3 Had job before MS:
No     10
        7
Yes     1
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc4 Had job before MS:
No     12
Yes     5
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc5 Had job before MS:
No     8
Yes    3
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc6 Had job before MS:
No    6
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc7 Had job before MS:
No     9
Yes    2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc8 Had job before MS:
No    28
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc9 Had job before MS:
No     14
Yes     3
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc10 Had job before MS:
No     17
Yes     7
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc11 Had job before MS:
No     38
Yes     6
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc12 Had job before MS:
No     19
Yes     2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc13 Had job before MS:
No     12
Yes    10
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc14 Had job before MS:
No     25
Yes     8
        1
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc15-16 Had job before MS:
      32
No    24
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc17 Had job before MS:
      21
No    14
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc18 Had job before MS:
No     24
        8
Yes     6
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc19 Had job before MS:
Yes    9
No     7
Name: Had a job before MS? (Yes or No), dtype: int64
********************
mc20 Had job before MS:
No     21
Yes    14
        2
Name: Had a job before MS? (Yes or No), dtype: int64
********************
dsc1 Had job before MS:
Yes    16
No      3
Name: Had a job before MS? (Yes or No), dtype: int64
********************

In [66]:
!ls .

adc.json  sample_data

In [0]:
!touch outcomes_dfs.pkl .

In [0]:
import pickle

outcomes_pkl = open('outcomes_dfs.pkl', 'wb')
pickle.dump(outcomes_dfs, outcomes_pkl)

In [0]:
outcomes_folder = '18X-08FsDF3MRZhfFW5BfONJ_s-8vQ85E'
out_prp = drive.CreateFile({'parents': [{u'id': outcomes_folder}]})
out_prp.SetContentFile('outcomes_dfs.pkl')
out_prp.Upload()

In [0]:
outcomes = pickle.load