<a href="https://colab.research.google.com/github/S-Ngigi/ML/blob/master/Student_Profile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pprint

In [0]:
auth.authenticate_user()
ga = GoogleAuth()
ga.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(ga)

In [0]:
import pandas as pd

In [13]:
spread_url = 'https://docs.google.com/spreadsheets/d/'
folder_id = '18X-08FsDF3MRZhfFW5BfONJ_s-8vQ85E' 
# List file in directory
file_list = drive.ListFile({'q': f"'{folder_id}' in parents and trashed=false"}).GetList()

for file in file_list:
  fileName = file['title']
  fileId = file['id']
  print(f"file_name: {fileName}\nfile_id:{fileId}")

file_name: M.S Graduates Tracker
file_id:1TL6fE87_RySX2pk2Rhsi_aiBkoLqtUZSVlrtJh6MeW4

In [0]:
# Gspread call
gsp = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
outcome_wb = gsp.open_by_url(f'{spread_url}{fileId}')

In [25]:
outcomes_worksheets = outcome_wb.worksheets()
del outcomes_worksheets[2] 
outcomes_worksheets =outcomes_worksheets[:-8]
grad_ke = len(outcomes_worksheets)
print(grad_ke)
outcomes_worksheets

27

[<Worksheet 'Cohort 1' id:250853569>,
 <Worksheet 'Cohort 2' id:939695604>,
 <Worksheet 'Cohort 3' id:773501914>,
 <Worksheet 'Cohort 4' id:39552532>,
 <Worksheet 'Cohort 5' id:345585666>,
 <Worksheet 'Cohort 6' id:73338368>,
 <Worksheet 'Cohort 7' id:1938771017>,
 <Worksheet 'MC  1' id:1436363104>,
 <Worksheet 'MC 2' id:715037735>,
 <Worksheet 'MC 3' id:454636541>,
 <Worksheet 'MC 4' id:1598010224>,
 <Worksheet 'MC 5' id:1584875653>,
 <Worksheet 'MC 6' id:1571554605>,
 <Worksheet 'MC 7' id:2109064685>,
 <Worksheet 'MC 8' id:607425769>,
 <Worksheet 'MC 9' id:577588626>,
 <Worksheet 'MC1 0' id:1738786071>,
 <Worksheet 'MC 1 1' id:1971269453>,
 <Worksheet 'MC1 2' id:551698329>,
 <Worksheet 'MC1 3' id:1613907553>,
 <Worksheet 'MC1 4' id:1578318890>,
 <Worksheet 'MC15-1 6' id:897475976>,
 <Worksheet 'MC1 7' id:1032484390>,
 <Worksheet 'MC1 8' id:1692531341>,
 <Worksheet 'MC1 9' id:1913998371>,
 <Worksheet 'MC2 0' id:1278098024>,
 <Worksheet 'DSC 1' id:2778754>]

In [24]:
# ttl = lambda x : x.title()
# outcomes_test = [ for i in outcomes_worksheets if re.match('^M|^D', i.title)]
# outcomes_test
for i in outcomes_worksheets:
  if re.match('^M|^D', i.title):
    i.update_title(i.title.replace(i.title[-1], f" {i.title[-1]}"))
outcomes_worksheets

[<Worksheet 'Cohort 1' id:250853569>,
 <Worksheet 'Cohort 2' id:939695604>,
 <Worksheet 'Cohort 3' id:773501914>,
 <Worksheet 'Cohort 4' id:39552532>,
 <Worksheet 'Cohort 5' id:345585666>,
 <Worksheet 'Cohort 6' id:73338368>,
 <Worksheet 'Cohort 7' id:1938771017>,
 <Worksheet 'MC 1' id:1436363104>,
 <Worksheet 'MC2' id:715037735>,
 <Worksheet 'MC3' id:454636541>,
 <Worksheet 'MC4' id:1598010224>,
 <Worksheet 'MC5' id:1584875653>,
 <Worksheet 'MC6' id:1571554605>,
 <Worksheet 'MC7' id:2109064685>,
 <Worksheet 'MC8' id:607425769>,
 <Worksheet 'MC9' id:577588626>,
 <Worksheet 'MC10' id:1738786071>,
 <Worksheet 'MC11' id:1971269453>,
 <Worksheet 'MC12' id:551698329>,
 <Worksheet 'MC13' id:1613907553>,
 <Worksheet 'MC14' id:1578318890>,
 <Worksheet 'MC15-16' id:897475976>,
 <Worksheet 'MC17' id:1032484390>,
 <Worksheet 'MC18' id:1692531341>,
 <Worksheet 'MC19' id:1913998371>,
 <Worksheet 'MC20' id:1278098024>,
 <Worksheet 'DSC1' id:2778754>]

In [5]:
t ='DMC1'
import re
result = re.search('^M|^D', t)
result

In [29]:
# G Spread to DataFrame
data =  outcome_wb.get_worksheet(0).get_all_values()
df_test = pd.DataFrame(data)
df_test.columns  = df_test.iloc[0]
df_test = df_test.iloc[1:]
df_test.head()

0 First Name Last Name  ... Graduation Date 30th Comments Post-Call
1   Wilhelm   Uschtrin  ...
2     Diana    Wanjuhi  ...                              Not picked
3     Keval       Shah  ...
4    Dhruti       Shah  ...
5                       ...

[5 rows x 21 columns]

In [31]:
def get_ret_outcomes_df(sheet):
  data =  sheet.get_all_values()
  df_test = pd.DataFrame(data)
  df_test.columns  = df_test.iloc[0]
  df_test = df_test.iloc[1:]
  return df_test

ds_ = get_ret_outcomes_df(outcomes_worksheets[26])
ds_.head()

0 First Name  ... <Date of Check-In> Including the name of the Team Member
1     Daniel  ...
2      Agnes  ...
3    Lucille  ...
4   Cecilia   ...
5      Daisy  ...

[5 rows x 58 columns]

In [38]:
outcomes_dfs = {i.title: get_ret_outcomes_df(i) for i in outcomes_worksheets}
outcomes_dfs = {k.replace(' ', '').lower():v for k,v in outcomes_dfs.items()}
[*outcomes_dfs.keys()]

['cohort1',
 'cohort2',
 'cohort3',
 'cohort4',
 'cohort5',
 'cohort6',
 'cohort7',
 'mc1',
 'mc2',
 'mc3',
 'mc4',
 'mc5',
 'mc6',
 'mc7',
 'mc8',
 'mc9',
 'mc10',
 'mc11',
 'mc12',
 'mc13',
 'mc14',
 'mc15-16',
 'mc17',
 'mc18',
 'mc19',
 'mc20',
 'dsc1']

In [39]:
outcomes_dfs['mc7']

0                     First Name  ...     Comments post call for 28th June-Data Clean Up
1                           Sam   ...
2                        Andrew   ...
3                     Brilliant   ...
4                         Evans   ...
5                         Joshua  ...
6                         Lewis   ...
7                          Seth   ...
8                      Victoria   ...
9                          June   ...
10                        Pascal  ...
11                       Patrick  ...  Call not picked and all his data isn't in the ...
12                                ...
13               Graduation Date  ...
14                                ...
15               Employment Rate  ...
16    Total Number of Developers  ...
17  Graduates Seeking Employment  ...
18  Unemployed (Within 6 months)  ...
19    Employed (Within 6 months)  ...

[19 rows x 31 columns]